div#accordion > div{
	background-color: #ffaaff;
	border: 1px solid black;
}

div#nav {
	float: none;
	top:0px;
	background-color: #f0f0f0;
	height: 50px;
}

#title {
	font-family: 'Oswald', sans-serif;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}